<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Ruby on Rails Bookstore</h1>

  <h2>
    A Peer-to-Peer and Business-to-Peer Online Book Market.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
