<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= will_paginate %>
<h2>
<ul class="users" style="background-color: rgba(49, 28, 28, 0.6)">
  <%= render 'users/user' %>
</ul>
</h2>
<%= will_paginate %>
