<% provide(:title, 'Sell New Book') %>
<% provide(:button_text, 'Book for Sale') %>

<h1>List a Book to Sell</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <%= render 'book_form' %>
  </div>
</div>


