<% provide(:title, 'Sell New Book') %>
<% provide(:button_text, 'Book for Sale') %>
<h1>Sell This Book</h1>
<h3>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <%= render 'book_form' %>
  </div>
</div>
</h3>

