<table class="table is-bordered is-striped is-narrow">
  <tr>
    <th>asdf</th>
    <th>asdf</th>
    <th>Author</th>
    <th>Seller ID</th>
    <th>Book ID</th>
    <th>Price</th>
    <th>Date of Listing</th>
  </tr>
<% @cart_item_list.each do |cart_item| %> 
  <tr>
    <td><%= cart_item.title %></td>
     </tr>
<% end %>
</table>