<footer class="footer">
  <small>
    <h2>
      A <a href="https://rubyonrails.org/" target="_blank" rel="noopener noreferrer">Ruby on Rails</a> Application
      by <a href="http://williambork.com/" target="_blank" rel="noopener noreferrer">William Bork</a>
    </h2>
    </small>
  <nav>
    <ul>
      <h2>
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "About",  about_path %></li>
     </h2>
    </ul>
  </nav>
</footer>